.content-buscar {
  position: relative;

  .content-icon {
    position: absolute;
    right: 0;
    top: -5px;
    color: white;

    &.invisible {
      display: none;
    }
  }

  .buscar {
    width: 100%;
    padding: 0;
    border: 0;
    background: inherit;
    color: rgb(27, 27, 27);
    border-bottom: 2px solid #ff7f00;
    &:focus {
      border: 0;
      border-bottom: 2px solid #ff7f00;
      outline: none;
    }
  }
}
