


.button
{
    --btnColor: black;

    &.type1
    {
        padding: .3rem;
        
        &.black
        {
           --btnColor:black;
           background-color: inherit;
        }

        border: 2px solid var(--btnColor);
        border-radius: .4rem;
    
    }
}