$paginacion-tamano: 1.8rem;

%estiloSpan {
  border-radius: 13%;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  width: $paginacion-tamano;
  height: $paginacion-tamano;
  text-align: center;
  line-height: $paginacion-tamano;
  border: 0.1rem solid #ff7f00;
  user-select: none;
  background: #895104f5;
  color: white;
}

.content-paginacion {
  text-align: center;
  .paginacion {
    padding-top: 1rem;
    display: inline-block;
 
    .next,
    .back {
      &.visible {
        display: inline-block;
        @extend %estiloSpan;
      }

      transition: 10s active;
      &:active {
        background-color: #ff9b10;
        color: white;
      }

      display: none;
    }

    .pagina {

      &.seleccionada {
        background-color: #ff9b10;
        color: white;
      }
      @extend %estiloSpan;
    }
  }
}
